body
{
    text-align: center;
    color: #fff;
    background-color: #000;
}

#board
{
    display: inline-block;
    background-color: #fff;
}

.title
{
    color: orange;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    font-size: 4rem;
}

.container
{
    text-align: center;
}

.row
{
    text-align: center;
    color: #fff;
    margin-bottom: 4px;
}

.btn
{
    height: 160px;
    width: 160px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    position: relative;
    color: orange;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    font-size: 3.5rem;
}

.c
{
    margin-bottom: 0;
}

p
{
    font-size: 1.5rem;
}

.yellow
{
    color: yellow;
}

.red
{
    color: red;
}

.black
{
    color: black;
}

.win-x
{
    background-color: yellow;
    color: black;
}

.win-o
{
    background-color: red;
    color: black;
}

.draw
{
    background-color: orange;
    color: black;
}

#footer
{
    margin-top: 25px;
    font: 1em sans-serif;
}